body{
    width: 100wv;
    height: 100vh;
    background: linear-gradient(rgb(104, 104, 235), lightblue );
    background-repeat: no-repeat;
}
.titulo{
display: flex;
justify-content: right;
align-items: center;
margin-right: 40vw;
}